<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tekinarslan.material.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- sd卡存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--摄像头-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--录音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--通知震动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--百度地图相关-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".app.EnglishApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>
        <!--http://lbsyun.baidu.com/apiconsole/key-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AqQa6EQywxyIP4RbGy9nTQOIRfimDIhC" />


        <activity
            android:name=".ui.module.main.MainActivity"
            android:label="Material">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.module.community.SampleActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".ui.module.own.SettingActivity" />
        <activity android:name=".ui.module.community.DetailActivity" />
        <activity android:name=".ui.module.community.PlayAudioActivity" />
        <activity android:name=".ui.module.study.ExamActivity" />
        <activity android:name=".ui.module.study.SubjectActivity" />
        <activity android:name=".ui.module.home.LoginActivity" />
        <activity android:name=".ui.module.study.WriteActivity" />
        <activity android:name=".ui.module.own.MineInfoActivity" />
        <activity android:name=".ui.module.own.EditNameActivity" />
        <activity android:name=".ui.module.message.ChatActivity" />
        <activity android:name=".ui.module.message.SearchFriActivity" />
        <activity android:name=".ui.module.community.ShuokeDetialActivity" />
        <activity android:name=".ui.module.community.ShKAudioActivity" />
        <activity android:name=".ui.module.study.WriteListActivity" />
        <activity android:name=".ui.module.own.CollectActivity" />
        <activity android:name=".ui.module.study.CourseSpokenActivity" />
        <activity android:name=".ui.module.study.TranslateActivity" />
        <activity android:name=".ui.module.study.TranslateListActivity" />
        <activity android:name=".ui.module.community.BeautyDetialActivity" />
        <activity android:name=".ui.module.study.ReadListActivity" />
        <activity android:name=".ui.module.own.EditAnswerActivity" />
        <activity android:name=".ui.module.own.AskListActivity" />
        <activity
            android:name=".ui.module.study.ReadActivity"
            android:theme="@style/ReadActivityTheme" />

        <!-- WeChat -->
        <activity
            android:name=".ui.module.home.home.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105240361" />
            </intent-filter>
        </activity>


        <!-- bmobim start -->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobImService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />

        <!-- 设置bmob appkey -->
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="00863b0ff1b00c0ff46807b68e4044c4" />
        <!-- bmobim end -->
    </application>
</manifest>
